@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.grey-button {
  display: block;
  max-width: 200px;
  background-color: $button;
  color: $main-bg;
  text-transform: capitalize;
  padding: 16px 19px 16px 28px;

  &:hover {
    box-shadow: 0 0 5px 2px rgba(163, 187, 200, 0.5);

    svg {
      fill: $button;
    }
  }

  &:focus {
    outline: transparent;
    box-shadow: 0 0 5px 2px rgba(163, 187, 200, 0.5);
    border: 2px solid $main-bg;
  }

  &:active {
    background-color: $main-bg;
    color: $button;
  }

  &--rounded {
    border-radius: 25px;
    padding: 0;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 77px;

  &__btn {
    border: none;
    color: $gallery-menu;
    background-color: transparent;
    font-family: DMSans, sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 0.3s, border 0.3s, color 0.3s, background-color 0.3s;

    &:focus {
      outline: transparent;
      border: 2px solid $button;
    }

    &:hover {
      box-shadow: 0 0 5px 2px rgba(163, 187, 200, 0.5);
    }

    &:active {
      color: $gallery-menu-active;
      box-shadow: none;
    }

    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 18px;
  }
}

.clamped {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

.clamped3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}

.clamped4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
}

.subscribe {
  display: flex;
  justify-content: space-between;

  &__label {
    font-size: 0;
  }

  &__input {
    font-size: 16px;
    background-color: $highlight-lite;
    max-width: 165px;
    border: none;
    padding: 5px;
    &::placeholder {
      color: $input-text;
      font-size: 12px;
      text-transform: capitalize;
    }
  }
}

.grey-button--subscribe {
  border: none;
  max-width: 98px;
  padding: 5px 16px 5px 16px;
  cursor: pointer;
}

.title {
  font-family: DMSans, sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 7px;
}

.header {
  padding: 50px 0 43px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.label {
  content: "";
}

.logo {
  min-width: 150px;
  display: block;
  // &--header {
  //   margin-right: 480px;
  // }
}

.menu {
  padding: 3px 3% 0 11.5%;

  &__list {
    display: flex;
  }

  &__list-item {
    display: flex;

    &:not(:last-child) {
      margin-right: 22px;
    }
  }

  &__list-link {
    text-transform: capitalize;
    color: $menu-color;
    font-family: Rubik, sans-serif;
    font-weight: 500;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    border-radius: 10px;
    transition: box-shadow 0.3s, border 0.3s, color 0.3s, background-color 0.3s;

    &:focus {
      outline: transparent;
      box-shadow: 0 0 5px 2px rgba(163, 187, 200, 0.5);
      border: 2px solid $button;
    }

    &:hover {
      box-shadow: 0 0 5px 2px rgba(163, 187, 200, 0.5);
    }

    &:active {
      background-color: $button;
      color: $main-bg;
    }
  }
}

.icon {
  height: 20px;
  width: 20px;
  fill: $default;
  &--card {
    height: 22px;
    width: 22px;
    fill: $button;
  }
}

.link {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  background-color: $search-bg;
  border-radius: 50%;
  box-shadow: none;
  transition: box-shadow 0.3s, background-color 0.3s;

  svg {
    fill: $default;
    transition: fill 0.3s;
  }

  &:focus {
    outline: transparent;
    border: 2px solid $button;
  }

  &:hover {
    box-shadow: 0 0 5px 2px rgba(163, 187, 200, 0.5);
  }

  &:active {
    background-color: $button;
    svg {
      fill: $main-bg;
    }
  }

  &--card {
    background-color: $main-bg;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    svg {
      fill: $button;
      transition: fill 0.3s;
    }
  }
}

.card-links {
  width: 168px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;

  &__item:not(:last-child) {
    margin-right: 16px;
  }
}

.user-nav {
  display: flex;
  justify-content: space-between;

  &__item:not(:last-child) {
    margin-right: 19px;
  }
}

.my-products {
  position: relative;
  height: 50px;
  width: 178px;
  background-color: transparent;

  &__link {
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    padding-top: 10%;
    background-color: $slider-bg;

    svg {
      transition: fill 0.3s;
    }

    &:focus {
      background-color: $divider;
      outline: transparent;
    }

    &:hover .my-products__num {
      width: 20px;
      height: 20px;
    }

    &:active svg {
      fill: $main-bg;
    }

    &--favorites {
      left: 0;
      border-radius: 25px 0 0 25px;
      padding-left: 23%;

      &::after {
        display: block;
        content: "";
        width: 2px;
        height: 60%;
        background-color: $divider;
        position: absolute;
        top: 20%;
        left: 98%;
      }
    }

    &--cart {
      right: 0;
      border-radius: 0 25px 25px 0;
      padding-left: 15%;
    }
  }

  &__num {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: $default;
    font-size: 10px;
    background-color: $main-bg;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-family: DMSans, sans-serif;
    font-weight: 400;
    position: relative;
    top: -37px;
    left: 11px;
    transition: width 0.3s, height 0.3s;
  }
}

.footer {
  padding-top: 80px;
  background-color: $main-bg;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo--footer {
    display: block;
    margin-bottom: 23px;
  }

  .footer-top {
    height: 270px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $footer_border;

    &__address {
      font-style: normal;
      color: $footer-content;
      margin-bottom: 7px;
    }

    &__item {
      width: 270px;
      height: 100%;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    &__title {
      padding: 10px 0 10px;
      font-family: DMSans, sans-serif;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
    }

    &__link {
      display: block;
      color: $footer-content;
      max-width: 200px;
      font-style: normal;
      margin-bottom: 7px;
      border-radius: 10px;
      transition: box-shadow 0.3s, border 0.3s, color 0.3s, background-color 0.3s;

      &:focus {
        outline: transparent;
        border: 2px solid $button;
      }

      &:hover {
        font-weight: 500;
      }

      &:active {
        font-weight: 700;
      }
    }

    &__list-item:not(:last-child) {
      margin-bottom: 7px;
    }

    &__text {
      margin-bottom: 37px;
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
    color: $footer-content;

    &__menu {
      display: flex;
      transform: translateX(14px);
    }

    &__item {
      padding: 0 14px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(:last-child) {
        border-right: 1px solid $footer-content;
      }
    }

    &__link {
      display: block;
      text-align: center;
      text-transform: capitalize;
      color: $footer-content;
      transition: box-shadow 0.3s, border 0.3s, color 0.3s, background-color 0.3s;

      &:focus {
        outline: transparent;
        border: 2px solid $button;
        border-radius: 10px;
      }

      &:hover {
        font-weight: 500;
      }

      &:active {
        font-weight: 700;
      }
    }
  }
}

.slider {
  &__inner {
    min-height: 820px;
    background-image: url("../images/slider/slider-bg.png");
  }

  &__item {
    display: flex !important;
    justify-content: center;
    margin: 214px 0 136px;
  }

  &__content {
    max-width: 28%;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
  }

  &__title {
    max-width: 470px;
    max-height: 270px;
    font-family: Rubik, sans-serif;
    font-weight: 500;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 29px;
  }

  &__text {
    max-width: 370px;
    max-height: 100px;
    font-size: 18px;
    line-height: 1.5;
    color: $menu-color;
    margin-bottom: 39px;
  }

  .grey-button::after {
    content: url("../images/icons/arrow-right.svg");
    margin-left: 50px;
  }

  &__img-container {
    padding: 66px 0;
    display: flex;
    justify-content: end;
  }

  &__img {
    display: block;
    object-fit: contain;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-right: 5px;

    li:not(:last-child) {
      margin-right: 10px;
    }

    button {
      border: none;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.302;
      width: 30px;
      height: 30px;
      font-size: 14px;
      font-family: Rubik, sans-serif;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slick-active {
      border: none;
      border-radius: 50%;
      background-color: #fff;
      opacity: 1;
      width: 30px;
      height: 30px;
      font-size: 14px;
      font-family: Rubik, sans-serif;
      font-weight: 700;
      justify-content: center;
      align-items: center;
    }
  }
}

.about {
  display: flex;
  justify-content: space-between;
  background-color: $highlight-lite;
  height: 170px;
}

.about-item {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &:not(:last-child) {
    border-right: 1px solid $about_border;
  }
}

.about-title {
  display: block;
  font-family: DMSans, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.about-text {
  max-width: 300px;
  font-family: DMSans, sans-serif;
  font-weight: 400;
  background-repeat: no-repeat;
  background-position-y: 10px;
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  padding-left: 75px;
}

.products {
  padding: 55px 0 80px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products__top {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: DMSans, sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 7px;
  }

  .mixitup-control-active {
    color: $gallery-menu-active;
    box-shadow: none;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 38px;
  margin-bottom: 78px;
}

.card {
  padding: 10px 10px;
  width: 270px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

  &__img-box {
    padding: 0 0;
    position: relative;
    width: 270px;
    min-height: 280px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__photo {
    object-fit: contain;
  }

  &__name {
    display: block;
    font-family: DMSans, sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.8;
  }

  &__price {
    display: block;
    font-family: DMSans, sans-serif;
    font-weight: 700;
    color: $button;
    text-align: center;
  }

  .card-links {
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    visibility: hidden;
    transition: visibility 0.3s;

    .link--card {
      width: 45px;
      height: 45px;

      &:hover {
        width: 49px;
        height: 49px;
      }
    }
  }

  &:hover .card-links {
    visibility: visible;
  }
}

.filter--new {
  margin-bottom: 54px;
}

.cards-new {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 29px;
  grid-row-gap: 9px;
  margin-bottom: 108px;

  &__item {
    padding: 0;
  }
}

.card-new {
  width: 370px;
  height: 270px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;

  &__link {
    display: block;
  }

  &__img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }

  &__photo {
    object-fit: contain;
  }

  &__content {
    padding-top: 57px;
    padding-left: 35px;
    max-width: 210px;
    z-index: 200;
  }

  &__name {
    display: block;
    font-family: DMSans, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: #1a1a1a;
    margin-bottom: 10px;
  }

  &__type {
    display: block;
    font-family: DMSans, sans-serif;
    font-weight: 700;
    color: $button;
  }
}

.lamps {
  position: relative;
  height: 500px;
  display: flex;
  justify-content: space-between;

  &__item {
    width: 870px;
    position: relative;
  }

  &__img-box {
    height: 97%;
    width: 370px;
    position: absolute;
    bottom: 0;
    z-index: 10;
  }

  &__img {
    position: absolute;
    right: 0;
  }

  &__content {
    width: 100%;
    height: 388px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $highlight;
  }

  &__content-inner {
    width: 480px;
    height: 100%;
    position: absolute;
    right: 0;
    padding: 0 130px 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-family: DMSans, sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-transform: capitalize;
    line-height: 1;
    margin-bottom: 17px;
  }

  &__text {
    margin-bottom: 22px;
  }

  .grey-button {
    background-color: transparent;
    font-weight: 500;
    color: #436372;
    border: 2px solid #b3b7b5;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 16px 16px 16px 16px;

    &:hover {
      box-shadow: 0 0 5px 2px rgba(163, 187, 200, 0.5);

      svg {
        fill: $button;
      }
    }

    &:focus {
      outline: transparent;
      box-shadow: 0 0 5px 2px rgba(163, 187, 200, 0.5);
      border: 2px solid $main-bg;
    }

    &:active {
      background-color: $main-bg;
      color: $button;
    }

    &::after {
      content: url("../images/icons/arrow-right-grey.svg");
      margin-left: 50px;
    }
  }
}

.video {
  &__inner {
    max-width: 100%;
    min-height: 495px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__play {
    display: block;
    width: 137px;
    height: 137px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__play:focus {
    outline: transparent;
    border: 3px solid $main-bg;
  }

  &__play svg circle {
    opacity: 0.4;
    fill: $button;
    transition: opacity 0.3s, fill 0.3s;
  }

  &__play:hover svg circle {
    opacity: 0.8;
  }

  &__play:active svg circle {
    fill: $main-bg;
  }

  &__play svg path {
    fill: $main-bg;
    transition: fill 0.3s;
  }

  &__play:active svg path {
    fill: $button;
  }
}

.insights {
  padding: 103px 0 0;
  margin-bottom: 0;
  position: relative;
  background-image: linear-gradient(to top, $highlight-lite 0 170px, #fff 171px);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  &__link-all {
    padding: 5px;
    color: #262626;
    text-transform: capitalize;
    font-family: DMSans, sans-serif;
    font-weight: 700;
    border-radius: 8px;

    &::after {
      content: ">";
      padding-left: 17px;
    }

    &:focus {
      outline: transparent;
      box-shadow: 0 0 5px 2px rgba(163, 187, 200, 0.5);
      border: 2px solid $button;
    }

    &:hover {
      box-shadow: 0 0 5px 2px rgba(163, 187, 200, 0.5);
    }

    &:active {
      background-color: $button;
      color: $main-bg;
    }
  }

  &__articles {
    display: flex;
  }

  &__item {
    height: 420px;
    max-width: 370px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

    .grey-button {
      position: absolute;
      bottom: 155px;
      left: 28px;
      width: 103px;
      height: 30px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__content {
    padding: 30px 30px 25px;
    height: 170px;
    color: #222933;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
  }

  &__text {
    width: 300px;
    font-family: DMSans, sans-serif;
    font-size: 18px;
    border-bottom: 1px solid #e0e0e0;
    line-height: 1.3;
    margin-bottom: 25px;
  }

  &__date,
  &__author {
    font-family: Rubik, sans-serif;
    font-size: 12px;
  }

  &__date {
    margin-right: 28px;
  }
}

.partners {
  padding: 0 0 50px;
  background-color: $highlight-lite;
  height: 270px;

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    width: 190px;
  }

  &__link {
    display: block;
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__logo {
    object-fit: contain;
  }

}