@import "vars";
@import "fonts";
@import "reset";
@import "slick";
// @import "slick-theme";
@import "global";

.header {
  &__inner {
    padding: 50px 0 43px;
    display: flex;
  }
}

.logo {
  display: block;
  &--header {
    margin-right: 27.4%;
  }
}

.menu {
  padding-top: 3px;
  margin-right: 336px;

  &__list {
    display: flex;
  }

  &__list-item:not(:last-child) {
    margin-right: 40px;
  }

  &__list-link {
    text-transform: capitalize;
    color: $menu-color;
    @extend %rubic-500;
    transition: all 0.3s;

    &:hover::after {
      content: "+";
      margin-right: -0.6em;
    }

    &:focus {
      color: $button;
      &::after {
        content: "+";
        margin-right: -0.6em;
      }
    }

    &:active {
      color: $button;
      &::after {
        content: "+";
        margin-right: -0.6em;
      }
    }
  }
}

.user-nav {
  display: flex;

  &__link {
    display: flex;
    height: 51px;
    width: 51px;
    justify-content: center;
    align-items: center;

    &--search {
      background-color: $search-bg;
      border-radius: 50%;
      margin-right: 20px;
      transition: background-color 0.3s;

      path {
        fill: $default;
        transition: fill 0.3s;
      }

      &:hover {
        background-color: $button;
        path {
          fill: $main-bg;
        }
      }
    }

    &--apps {
      background-color: $button;
      border-radius: 50%;
      transition: background-color 0.3s;

      path {
        fill: $main-bg;
        transition: fill 0.3s;
      }

      &:hover {
        background-color: $search-bg;
        path {
          fill: $default;
        }
      }
    }
  }
}

.my-products {
  position: relative;
  height: 50px;
  width: 178px;
  padding: 4px 0 0 16px;
  background-color: $slider-bg;
  border-radius: 25px;
  margin-right: 18px;
  &::before {
    display: block;
    content: "";
    width: 2px;
    height: 60%;
    background-color: $divider;
    position: absolute;
    top: 20%;
    left: 50%;
  }

  &__link {
    display: block;
    position: absolute;
    height: 80%;
    width: 25%;
    padding: 8% 0% 0% 8%;

    path {
      transition: fill 0.3s;
    }

    &:hover path {
      max-width: 74px;
      display: flex;
      fill: $main-bg;
    }

    &--flagged {
      left: 17%;
    }

    &--cart {
      right: 17%;
    }
  }

  &__num {
    display: flex;
    justify-content: center;
    align-content: center;
    color: $default;
    font-size: 10px;
    background-color: $main-bg;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    @extend %dmsans-400;
    position: relative;
    top: -37px;
    left: 11px;
  }
}

.footer {
  background-color: $main-bg;
  font-size: 14px;
}

.logo--footer {
  display: block;
  margin-bottom: 23px;
}

.footer-top {
  display: flex;
  padding: 70px 0 75px;
  border-bottom: 1px solid $footer_border;

  &__item {
    width: 270px;
    height: 100%;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__address {
    font-style: normal;
    &::before {
      display: inline;
      content: "address:";
      text-transform: uppercase;
    }
  }

  &__phone::before {
    display: inline;
    content: "telephone:";
    text-transform: uppercase;
  }

  &__email::before {
    display: inline;
    content: "email:";
    text-transform: uppercase;
  }

  &__title {
    padding: 10px 0 10px;
    @extend %dmsans-700;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__link {
    display: block;
    color: $footer-content;
  }

  &__list-item:not(:last-child) {
    margin-bottom: 7px;
  }

  &__contact:not(:last-child) {
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 37px;
  }

  &__form-input {
    background-color: $partners-bg;
    max-width: 170px;
    border: none;
    padding: 5px 1px 5px 15px;
    &::placeholder {
      color: $input-text;
      font-size: 12px;
      text-transform: capitalize;
    }
  }

  &__form-btn {
    border: none;
    max-width: 100px;
    background-color: $button;
    color: #fff;
    text-transform: capitalize;
    padding: 5px 16px 5px 16px;
    cursor: pointer;
    transform: translateX(-4px);
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 36px 0;

  &__link {
    display: block;
  }

  &__menu {
    display: flex;
  }

  &__link {
    padding-left: 14px;
    text-transform: capitalize;
    color: $footer-content;
  }

  &__link:not(:last-child) {
    padding-right: 14px;
  }

  &__link:not(:last-child) {
    border-right: 1px solid $footer-content;
  }
}

.top-slider {
  &__inner {
    min-height: 817px;
    background-image: url("../images/slider/top-slider-bg.png");
  }

  &__item {
    display: flex !important;
    justify-content: center;
    padding-top: 214px;
  }

  &__content {
    max-width: 28%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @extend %rubic-700;
    font-size: 72px;
    letter-spacing: -2px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__text {
    max-width: 370px;
    font-size: 18px;
    letter-spacing: 0.6px;
    line-height: 1.5;
    color: $slider-content;
    margin-bottom: 39px;
  }

  &__item-btn {
    display: block;
    max-width: 200px;
    background-color: $button;
    color: #fff;
    text-transform: capitalize;
    padding: 16px 19px 16px 28px;
  }

  &__item-btn::after {
    content: url("../images/slider/arrow-right.svg");
    margin-left: 55px;
  }

  &__img-container {
    padding: 66px 0 0 41px;
    display: flex;
    justify-content: end;
  }

  &__img {
    display: block;
    object-fit: contain;
  }

  .slick-list {
    margin-bottom: 200px;
  }

  .slick-dots {
  
    display: flex;
    justify-content: center;
    margin-right: 5px;

    li:not(:last-child) {
      margin-right: 10px;
    }

    button {
      border: none;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.302;
      width: 30px;
      height: 30px;
      font-size: 14px;
      @extend %rubic-700;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .slick-active {
      border: none;
      border-radius: 50%;
      background-color: #fff;
      opacity: 1;
      width: 30px;
      height: 30px;
      font-size: 14px;
      @extend %rubic-700;
      justify-content: center;
      align-items: center;
    }
  }
}

@import "media";
